<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AdapterInfo</key>
		<integer>0</integer>
		<key>Amperage</key>
		<integer>-36</integer>
		<key>AppleRawCurrentCapacity</key>
		<integer>2758</integer>
		<key>AppleRawMaxCapacity</key>
		<integer>6533</integer>
		<key>AvgTimeToEmpty</key>
		<integer>4597</integer>
		<key>AvgTimeToFull</key>
		<integer>65535</integer>
		<key>BatteryData</key>
		<dict>
			<key>CycleCount</key>
			<integer>656</integer>
			<key>DesignCapacity</key>
			<integer>7150</integer>
			<key>QmaxCell0</key>
			<integer>6427</integer>
			<key>QmaxCell1</key>
			<integer>6427</integer>
			<key>QmaxCell2</key>
			<integer>0</integer>
			<key>ResScale</key>
			<integer>0</integer>
			<key>StateOfCharge</key>
			<integer>11008</integer>
			<key>Voltage</key>
			<integer>7623</integer>
		</dict>
		<key>BatteryFCCData</key>
		<dict>
			<key>DOD0</key>
			<integer>0</integer>
			<key>DOD1</key>
			<integer>0</integer>
			<key>DOD2</key>
			<integer>0</integer>
			<key>PassedCharge</key>
			<integer>0</integer>
			<key>ResScale</key>
			<integer>0</integer>
		</dict>
		<key>BatteryInstalled</key>
		<true/>
		<key>BatteryInvalidWakeSeconds</key>
		<integer>30</integer>
		<key>BatterySerialNumber</key>
		<string>D8654840J4TF90KBK</string>
		<key>BootPathUpdated</key>
		<integer>1546012956</integer>
		<key>CellVoltage</key>
		<array>
			<integer>3812</integer>
			<integer>3812</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>ChargerData</key>
		<dict>
			<key>ChargingCurrent</key>
			<integer>0</integer>
			<key>ChargingVoltage</key>
			<integer>36897</integer>
			<key>NotChargingReason</key>
			<integer>1</integer>
		</dict>
		<key>CurrentCapacity</key>
		<integer>2758</integer>
		<key>CycleCount</key>
		<integer>656</integer>
		<key>DesignCapacity</key>
		<integer>7150</integer>
		<key>DesignCycleCount70</key>
		<integer>65535</integer>
		<key>DesignCycleCount9C</key>
		<integer>1000</integer>
		<key>DeviceName</key>
		<string>bq20z451</string>
		<key>ExternalChargeCapable</key>
		<false/>
		<key>ExternalConnected</key>
		<false/>
		<key>FirmwareSerialNumber</key>
		<integer>1</integer>
		<key>FullPathUpdated</key>
		<integer>1549869172</integer>
		<key>FullyCharged</key>
		<false/>
		<key>IOGeneralInterest</key>
		<string>IOCommand is not serializable</string>
		<key>IOObjectClass</key>
		<string>AppleSmartBattery</string>
		<key>IOObjectRetainCount</key>
		<integer>6</integer>
		<key>IORegistryEntryID</key>
		<integer>4294967900</integer>
		<key>IORegistryEntryName</key>
		<string>AppleSmartBattery</string>
		<key>IOReportLegend</key>
		<array>
			<dict>
				<key>IOReportChannelInfo</key>
				<dict>
					<key>IOReportChannelUnit</key>
					<integer>0</integer>
				</dict>
				<key>IOReportChannels</key>
				<array>
					<array>
						<integer>7167869599145487988</integer>
						<integer>6460407809</integer>
						<string>BatteryCycleCount</string>
					</array>
				</array>
				<key>IOReportGroupName</key>
				<string>Battery</string>
			</dict>
		</array>
		<key>IOReportLegendPublic</key>
		<true/>
		<key>IOServiceBusyState</key>
		<integer>0</integer>
		<key>IOServiceBusyTime</key>
		<integer>314145</integer>
		<key>IOServiceState</key>
		<integer>30</integer>
		<key>InstantAmperage</key>
		<integer>-36</integer>
		<key>InstantTimeToEmpty</key>
		<integer>4597</integer>
		<key>IsCharging</key>
		<false/>
		<key>LegacyBatteryInfo</key>
		<dict>
			<key>Amperage</key>
			<integer>-36</integer>
			<key>Capacity</key>
			<integer>6533</integer>
			<key>Current</key>
			<integer>2758</integer>
			<key>Cycle Count</key>
			<integer>656</integer>
			<key>Flags</key>
			<integer>4</integer>
			<key>Voltage</key>
			<integer>7625</integer>
		</dict>
		<key>Location</key>
		<integer>0</integer>
		<key>ManufactureDate</key>
		<integer>18298</integer>
		<key>ManufacturerData</key>
		<data>
		AAAAAAURAAoSAAAAA0o0MwMwMEEDTEdDASAA
		</data>
		<key>MaxCapacity</key>
		<integer>6533</integer>
		<key>MaxErr</key>
		<integer>1</integer>
		<key>OperationStatus</key>
		<integer>58435</integer>
		<key>PackReserve</key>
		<integer>167</integer>
		<key>PermanentFailureStatus</key>
		<integer>0</integer>
		<key>PostChargeWaitSeconds</key>
		<integer>120</integer>
		<key>PostDischargeWaitSeconds</key>
		<integer>120</integer>
		<key>Temperature</key>
		<integer>2974</integer>
		<key>TimeRemaining</key>
		<integer>4597</integer>
		<key>UserVisiblePathUpdated</key>
		<integer>1549865392</integer>
		<key>Voltage</key>
		<integer>7625</integer>
	</dict>
</array>
</plist>
